.Loading {
  display: inline-block;
  border: 3px solid rgb(6, 34, 126);
  border-right-color: transparent;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
  position: absolute;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
