.film-card {
  width: 400px;
  height: auto;
  display: flex;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(197, 217, 223);
  margin: 100px auto 0;
}

.info-card {
  border-width: 1px;
  padding: 12px 12px 24px 24px;
  text-align: center;
}

.description-film {
  text-align: left;
}

.img-card {
  width: 150px;
  height: 222px;
}