.film-card {
  width: 1000px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 20px #6EA5DC;
  background-color: rgb(197, 217, 223);
  margin: 100px auto 0;
  padding: 12px;
}
